header {
  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    block-size: 100%;
    background: linear-gradient(180deg, rgb(var(--bg-color-page-rgb) / 0.7) 44%, rgb(var(--bg-color-page-rgb) / 0.43) 73%, rgb(var(--bg-color-page-rgb) / 0));
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    -webkit-mask: linear-gradient(var(--bg-color-paper), var(--bg-color-paper) 18%, transparent 100%);
    mask: linear-gradient(var(--bg-color-paper), var(--bg-color-paper) 18%, transparent 100%);
    inset-inline: 0;
    inset-block-start: 0;
  }
}

.menu-sidebar {
  details {
    .menu-sidebar-title {
      display: flex;
      align-items: center;
      gap: .5rem;
      padding: .5rem 1rem;
      border-radius: var(--rounded-btn);
      &:hover {
        background-color: rgba(219, 219, 235, 0.04);
      }

      &::after {
        content: '';
        display: block;
        width: .5rem;
        height: .5rem;
        box-shadow: 2px 2px;
        transform-origin: 75% 75%;
        transform: rotate(45deg);
        transition: all .2s ease-in-out;
        margin-top: -.5rem;
        margin-left: auto;
      }
    }
    .menu-sidebar-group-item {
      .menu-item-title {
        font-size: 14px;
        padding: .5rem 1rem;
      }
      .menu-item {
        font-size: 13px;
        padding: .5rem 1rem;
        border-radius: var(--rounded-btn);
      }
    }

    &[open] {
      .menu-sidebar-title {
        &::after {
          margin-top: 0;
          transform: rotate(225deg);
        }
      }
    }
  }
}