table {
    border-collapse: separate; /* Don't collapse */
    border-spacing: 0;
    &.border {
      .column-sticky {
        border-right: 1px solid #e3e7f0;
      }
    }
    thead {
      tr {
        th {
          color: var(--text-color-secondary);
          padding: 0.25rem 1rem;
          height: 32px;
          white-space: nowrap;
          background-color: var(--bg-color-default);
          border: none;
          /* .icon-sort > svg {
            vertical-align: middle;
          } */
          &.is-sticky {
            position: sticky;
            top: 0;
            z-index: 3;
          }
          &.column-sticky {
            z-index: 4;
          }
        }
      }
    }

    tbody {
      > tr:not(.sortable-chosen) > :not(caption) {
        border-width: v-bind(borderWidth);
        border-bottom: 0;
        border-right: 0;
      }
      tr {
        &:hover {
          td {
            background-color: var(--bg-color-hover);
          }
        }
        td {
          color: var(--text-color-default);
          background-color: var(--bg-color-default);
          font-size: 14px;
          vertical-align: middle;
          padding: 0.25rem 1rem;
        }
      }
      .content-empty {
        padding: 24px 0;
        &-title {
          font-weight: 700;
          font-size: 14px;
          line-height: normal;
          text-align: center;
          color: var(--text-color-default);
          margin-top: 12px;
        }
        &-description {
          font-size: 12px;
          font-weight: 400;
          color: var(--text-color-secondary);
          margin-top: 8px;
        }
      }
    }
    tfoot {
      > tr > :not(caption) {
        border-width: v-bind(borderWidth);
        border-bottom: 0;
        border-right: 0;
      }
      &.is-sticky {
        position: sticky;
        bottom: -1px;
        z-index: 2;
      }
    }
    .column-sticky {
      position: sticky;
      left: 0;
      z-index: 2;
    }

    :where(th.column-sticky:first-child, td.column-sticky:first-child) {
      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 100%;
        bottom: 0;
        width: 7px;
        background: linear-gradient(
          90deg,
          rgba(28, 55, 130, 0.12) 0%,
          rgba(28, 55, 130, 0) 100%
        );
      }
    }
  }