:root {
    --primary-color: rgb(105, 108, 255);
    --primary-color-light: rgb(135, 137, 255);
    --primary-color-dark: rgb(94, 97, 230);

    --secondary-color: rgb(133, 146, 163);
    --secondary-color-light: rgb(157, 168, 181);
    --secondary-color-dark: rgb(120, 131, 147);

    --error-color: rgb(255, 62, 29);
    --error-color-light: rgb(255, 101, 74);
    --error-color-dark: rgb(230, 56, 26);

    --waring-color: rgb(255, 171, 0);
    --waring-color-light: rgb(255, 188, 51);
    --waring-color-dark: rgb(230, 154, 0);

    --info-color: rgb(3, 195, 236);
    --info-color-light: rgb(53, 207, 240);
    --info-color-dark: rgb(3, 175, 212);

    --success-color: rgb(113, 221, 55);
    --success-color-light: rgb(141, 228, 95);
    --success-color-dark: rgb(102, 199, 50);
}

html {
    &[data-theme=dark] {
        --bg-color-default-rgb: 43, 44, 64;
        --bg-color-page-rgb: 35, 35, 51;
        --bg-color-paper: #232333;

        --text-color-default: rgba(230, 230, 241, 0.7);
        --text-color-secondary: rgba(219, 219, 235, 0.87);
        --text-color-tertiary: rgba(219, 219, 235, 1);

        --bg-color-default: rgba(var(--bg-color-default-rgb), 1);
        --bg-color-page: rgb(var(--bg-color-page-rgb));
        --bg-color-hover: rgba(68, 73, 80, 0.5);

        --border-color-default: rgba(219, 219, 235, 0.27);

        --tw-shadow-color: rgba(15, 23, 42, 1);
        --tw-shadow: var(--tw-shadow-colored);
    }

    &[data-theme=light] {
        --bg-color-default-rgb: 255, 255, 255;
        --bg-color-page-rgb: 245, 245, 249;
        --bg-color-paper: #F5F5F9;

        --text-color-default: rgb(34 48 62 / 0.9);
        --text-color-secondary: rgb(34 48 62 / 0.7);
        --text-color-tertiary: rgb(34 48 62 / 0.5);

        --bg-color-default: rgba(var(--bg-color-default-rgb), 1);
        --bg-color-page: rgba(var(--bg-color-page-rgb), 1);
        --bg-color-hover: rgba(34 48 62 / 0.06);

        --border-color-default: rgb(34 48 62 / 0.7);
    }
}